server:
  listenAddr: ":55353"
  timeout: 5s
  dnsTimeout: 3s
  httpTimeout: 10s
  debug: false

upstreams:
  - tls://dns.google
  - https://dns.google/dns-query
  - tls://one.one.one.one
  - https://one.one.one.one
fallbackUpstreams:
  - udp://1.1.1.1:53
  - tls://dns.quad9.net
  - https://dns.quad9.net/dns-query

domains:
  - domain: google.com
    matchSubDomains: true
    maxDepth: ~
    ttl: 10m
    updateTTL: true
    recordType: ip
    listName: google
  - domain: openai.com
    matchSubDomains: true
    ttl: 10m
    updateTTL: false
    recordType: host
    listName: openai
  - domain: example.com
    matchSubDomains: false

outputs:
  - type: rosApiAddressList
    id: ros_main
    host: 10.0.0.1
    port: ~
    useTLS: false
    username: admin
    password: password
    listName: my_resolved_domains
    ttl: ~
    updateTTL: true
    recordType: ip
  - type: file
    id: file_main
    path: ./data
    listName: my_resolved_domains
    format: csv
  - type: webhook
    id: webhook_main
    method: POST
    url: https://example.com/dns-webhook
    listName: my_resolved_domains
