upstreams:
  - tls://dns.google
  - https://dns.google/dns-query
  - tls://one.one.one.one
  - https://one.one.one.one
fallbackUpstreams:
  - udp://1.1.1.1:53
  - tls://dns.quad9.net
  - https://dns.quad9.net/dns-query

domains:
  - domain: google.com
    matchSubDomains: true
    maxDepth: ~
    ttl: 10m
    updateTTL: true
    recordType: ip
    addressListName: google
  - domain: openai.com
    matchSubDomains: true
    ttl: 10m
    updateTTL: false
    recordType: host
    addressListName: openai
  - domain: example.com
    matchSubDomains: false

outputs:
  - routerOsApi:
      host: 10.0.0.1
      port: ~
      useTLS: false
      username: admin
      password: password
      addressListName: my_resolved_domains
      ttl: ~
      updateTTL: true
      recordType: ip
  - file:
      path: ./data
      addressListName: my_resolved_domains
  - webhook:
      method: POST
      url: https://example.com/dns-webhook

listenAddr: ":55353"
timeout: 5s
debug: false
