server:
  listenAddr: ":55353"
  timeout: 5s
  dnsTimeout: 3s
  httpTimeout: 10s
  debug: false
  excludeSubnets:
    - 10.0.0.0/8
    - 192.168.0.0/16

upstreams:
  - tls://dns.google
  - https://dns.google/dns-query
  - tls://one.one.one.one
  - https://one.one.one.one/dns-query
fallbackUpstreams:
  - udp://1.1.1.1:53
  - tls://dns.quad9.net
  - https://dns.quad9.net/dns-query

domains:
  - domain: google.com
    matchSubDomains: true
    maxDepth: ~
    listName: google
  - domain: openai.com
    matchSubDomains: true
    listName: openai
    upstreamsOverride:
      - tls://one.one.one.one
      - https://one.one.one.one/dns-query
  - domain: example.com
    matchSubDomains: false
    upstreamsBlacklist:
      - https://dns.google/dns-query

outputs:
  - type: rosApiAddressList
    id: ros_main
    host: 10.0.0.1
    port: ~
    useTLS: false
    username: admin
    password: password
    listName: my_resolved_domains
    ttl: ~
    updateTTL: true
    recordType: ip
    connectionAttempts: 3
    reconnectionAttempts: 3
  - type: file
    id: file_main
    path: ./data
    listName: my_resolved_domains
    format: csv
  - type: webhook
    id: webhook_main
    method: POST
    url: https://example.com/dns-webhook
    listName: my_resolved_domains
